<h1>會員註冊</h1>

<%= form_for(@user, url: '/account_verify') do |form| %>
  <div class="fields">
    <%= form.label :email, 'Email' %>
    <%= form.email_field :email, placeholder: '請填入信箱' %>
  </div>
  
  <div class="fields">
    <%= form.label :username, 'Name' %>
    <%= form.text_field :username, placeholder: '請填入姓名'  %>
  </div>

  <div class="fields">
    <%= form.label :password, 'Password' %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'Sign Up' %>
  </div>
<% end %>