<h1>課程列表</h1>

<table>
<tr>
  <td>名稱</td>
  <td>價錢</td>
  <td>時數</td>
  <td>Action</td>
</tr>
<% @courses.each do |course| %>
<tr>
  <td><%= link_to course.name, course_path(course.id) %></td>
  <td><%= course.price %></td>
  <td><%= course.hour %></td>
  <td><%= link_to 'Update', edit_course_path(course.id) %></td>
  <td><%= link_to 'Delete', course_path(course.id), method: 'delete', data: {confirm:'資料將被刪除。Are you sure!?'} %></td>
</tr>
<% end %>
</table>

<%= link_to "新增課程", new_course_path %>