<% if @course %>

<h1><%= @course.name %></h1>

<ul>
  <li>課程售價：<%= @course.price %>元</li>
  <li>課程介紹：<%= @course.intro %></li>
  <li>總時數：<%= @course.hour %>小時</li>
</ul>

<%= form_for(@review, url:course_reviews_path(@course)) do |form| %>
  <div class="fields">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
    <%= form.submit '送出' %>
  </div>
<% end %>


<% else %>

<h1>No Record found!</h1>

<% end %>
